body{
    background-color:rgba(0, 0, 0, 0.836);
    overflow: hidden;
}

.calculadoraTXT{
font-size: 25px;
color:white;
background: rgb(29, 29, 29);
padding: 6px 0px 4px;
margin: 7px 16px -5px;
}

.divCal{
    background-color:rgb(29, 29, 29);;
    width: 300px;
    margin: calc(50vh - 170px) auto;
    border: 3px solid black
}

.mostrador{
    background-color:rgb(29, 29, 29);
    color:white;  
    overflow: auto;
    text-align: right;
    padding: 26px 9px 18px;
    font-size: 40px;  
}
.mostrador::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.mostrador::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.mostrador::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.divNumeros{
    background-color:rgb(29, 29, 29);
    display:flex;
    flex-wrap:wrap;
    font-size: 20px;
    justify-content: center;
    color:white;
}
.divNumeros > div{
    width: calc(25% - 2px);
    border:1px solid rgb(29, 29, 29);;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    font-family: Roboto+Mono; 
    background: black;
}
.divNumeros > div:hover{
background-color:rgba(22, 22, 22, 0.466);
cursor:pointer;
}
.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconeApaga{
    margin-right: 8px;
    margin-top: 15px;
    color: white;
}
